@media print {
  .fin-data-group, .btn-dark, .btn-add, .btn-danger{
    display: none;
  }

  .container {
    margin-top: 50px;
    width: 92%;
  }
 
  .mb-3{
    width: 300px;
  }

  .logo-report {
    width: 50px;
  }

  #logo-report {
    width: 7%;
    margin-right: 15px;
  }
  .logo-link div {
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    margin-top: 100px;
    display: flex !important; 
    justify-content: space-between;
    align-items: center;
    transform: translateY(40px);
  }
  
  .logo-link p {
    margin-bottom: 0;
  }

  .project-resume{
    margin-top: 20px;
  }
}

#logo-report {
  width: 7%;
  margin-right: 15px;
}
.logo-link div {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.logo-link p {
  margin-bottom: 0;
}
