.doughnut_charts_style {
  width: 17% !important; /* !important - убрал , потому что не дает нормально вывест ина принт */
}

.chart-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}


@media print {
  .chart-div {
    /* width: 100%; */
  }
  .chart-div{
    /* border: 1px solid black; */
    /* transform: translateY(-25px); */
    width: 907px;
  }
  .doughnut_charts_style {
    width: 90%;
    /* border: 1px solid black; */
    transform: translateX(-70px);
  }
}
