h6 {
  margin-bottom: 20px;
}

label {
  margin: 0   !important;
  white-space: nowrap;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.data-input-section {
  display: flex;
  align-items: center;
  width: 700px;
}

.data-input-section > * {
  margin-right: 10px;
  font-size: 14px;
}

.form-check {
  display: flex;
  align-items: center;
}

.flex-check {
  margin-right: 5px;
}

.date-control {
  width: 350px;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

table {
  margin: 0 !important;
  font-size: 14px;
}

.number-control {
  width: 100px;
}

.btn-update {
  padding: 0;
  border: unset;
}

.btn-update:hover {
  border: unset;
}


